body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    user-select: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}


#menuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
}


#sidebar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: linear-gradient(to top, #7b2ff7, #1a1a1a, #000000);
    color: white;
    transition: 0.3s;
    padding-top: 60px;
    font-size: 15px;
    font-weight: bold;
}

#sidebar a:hover {
    font-size: 20px;
    transition: 0.3s;
    color: rgb(211, 105, 235);
}


#sidebar.active {
    left: 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 15px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
}


#content {
    padding: 20px;
}